```css id="08rm7f"
body {
  background-color: #fff5f8;
  margin: 20px;
}

/* TITULO PRINCIPAL */
h1 {
  font-family: 'Playfair Display', serif;
  color: hotpink;
  font-size: 45px;
}

/* SUBTITULOS */
h2 {
  color: pink;
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
}

/* PARRAFOS */
p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: black;
}

/* LISTAS */
ul {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/* LINKS */
a {
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

a:hover {
  color: hotpink;
}

/* BLOQUE ROSA */
.caja {
  background-color: #ffc0cb;
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
  width: 300px;
}

/* IMAGENES */
.imagen {
  width: 200px;
  border-radius: 10px;
  border: 2px solid hotpink;
  margin: 10px;
}

/* CREDITOS */
.creditos {
  font-size: 14px;
  color: gray;
}

/* LICENCIA */
.licencia {
  margin-top: 30px;
  font-size: 14px;
}

/* CONTENEDOR GENERAL */
.contenedor {
  max-width: 900px;
}
```
